/* FONT BIN
    font-family: 'Questrial', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Vollkorn', serif;
*/

html {
  background-image: linear-gradient(to right, rgb(54, 54, 54), rgb(156, 156, 156), rgb(54, 54, 54));
  scroll-behavior: smooth;
}

#hero-image {
  top: 0px;
  width: 100%;
  z-index: -1;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 30px 0 rgba(0, 0, 0, 0.22);
  position: relative;
}

#about-me {
  font-family: 'Vollkorn', serif;
  position: absolute;
  background:rgba(31, 31, 31, 0.1);
  border: 2px solid rgb(206, 206, 206);
  padding: 10px;
  left: 50%;                        
  top: 25vw;                         
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  text-align: center;
  color: rgb(204, 204, 204);
  line-height: 1.5;
  animation: move 1.5s;
  -webkit-animation: move 1.5s;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

a {
  text-decoration: none;
}

header {
  background-image: linear-gradient(rgb(209, 209, 209), rgb(247, 247, 247));
  width: 100%;
  margin-bottom: 40px;
  border-top: 4px solid rgb(100, 100, 100);
  height: 80px;
  z-index: 9000;
  /*box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.22);*/
}

#sticky-nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
#brett-face {
  width: 100px;
  height: 100px;
  z-index: 1;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 800;
  font-size: 1.8em;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

nav {
  max-width: 500px;
  margin-left: auto;
  text-align: center;
  padding-bottom: 25px;
}

.link-text {
  padding: 20px 15px 25px 15px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #5e5e5e;
  font-size: 1.1em;
  transition: all .2s ease-in-out;
}

.link-text:hover { 
  text-transform: scale(1.1); 
}

.links {
  width: 26px;
  height: 26px;
  padding-bottom: 25px;
  padding-left: 5px;
}

#header-top {
  position: fixed;
  top: 0;
  width: 100%;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  padding: 40px 0 20px 0;
  font-size: 1.8em;
  font-weight: 800;
}

#web, #art, #book, #me {
  height: 75px;
}

.banner {
  height: 100px;
  background: rgb(248, 248, 248); 
  width: 100%;
  text-align: center;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 30px 0 rgba(0, 0, 0, 0.22);
}

#projects-container, #artwork-container, #other-container, #contact-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(201, 201, 201), rgb(240, 240, 240), rgb(201, 201, 201));
  max-width: 80%;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  padding: 30px 0 30px 0;
}

/*.bg-image-blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
} */

.projects, .paintings {
  margin: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: black;
  width: 430px;
  height: 260px;
  color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1em;
  text-align: center;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.22);
  border-radius: 2%;
}

.projects:hover, .paintings:hover {
  -webkit-filter: brightness(30%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: white;
}

span {
  background:rgba(37, 37, 37, 0.7);
  font-size: 1.3em;
  padding: 20px 15px 20px;
  color: rgb(231, 231, 231);
  border-radius: 20px 0px 0px;
}

#book-back {
  position: relative;
  max-width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

#kloom {
  margin: auto;
  height: auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.22);
}

#book-text {
  position: absolute;
  top: 25%;
  font-family: 'Cormorant Garamond', serif;
  left: 50%;
  font-size: 1.5em;
  color: rgb(204, 204, 204);
  text-align: center;
}

#book-text, h3 {
  font-size: 1.7em;
}

#me-section {
  max-width: 100%;
  background: rgb(43, 43, 43);
  margin: auto;
  height: 60vh; 
}

#me-container {
  display: flex;
  margin: auto;
  height: auto;
  max-width: 900px;
  justify-content: center;
}

#backstory {
  display: flex;
  color: whitesmoke;
  margin-top: 60px;
  font-size: 1.2em;
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.3em;
}

#foodie {
  background-image: url(../images/souxvidelogo.png);
}

#rescue-mission {
  background-image: url(../images/hourglass_small.png);
}


footer {
  left: 0;
  right: 0;
  bottom: 0;
  background: #c7c7c7; 
  height: 50px;
  width: 100%;
}

.footertext {
  text-align: center;
  color: rgb(27, 27, 27);
  bottom: 0;
  width: 100%;
  font-size: 0.75em;
  padding-top: 10px;
}


/*media queries portion*/

@media (max-width:980px) {

}

@media (max-width:768px) {

}

@media (max-width:640px) {
  #hero-image {
      height: 120vw;
      width: 200%
  }


  .link-text {
      display: none;
  }

  #about-me {
      margin-top: 260px;
      font-size: 5.5vw;
  }

  .projects, .paintings {
      width: 300px;
      height: 160px;
  }

  #kloom {
      max-width: 100%;
  }
}

@media (max-width:500px) {
  h1, .links {
      align-content: center;
  }

  #hero-image {
      display: none;
  }

  .link-text {
      display: none;
  }

  #top-main {
      height: 140vw;
      background: rgb(54, 54, 54);
  }

  #about-me {
      margin-top: 220px;
      font-size: 6vw;
  }

  .projects, .paintings {
      width: 300px;
      height: 160px;
  }

}